.table{
    padding: 5%;
}
caption{
      caption-side: top;
  }
  .data-row{
    cursor: pointer;
}

.data-row:focus{
    background-color: rgb(173, 173, 173);
}
.data-row:hover{
    background-color: rgb(173, 173, 173);
}