#holder{
    justify-self: center;
    vertical-align: center;
   margin-left: 25%;
    display: flex;
    margin-top:10%;
    vertical-align: center;
   
   max-width: 50%;
    flex-direction: column;
}
#buttonHolder{
    justify-content: center;
    display: flex;
}
#login_btn{
    margin-right: 1rem;
}
body, html{
    align-items: center;
    height: 100%;
   
}